// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-item {

  .img {
    width: 100%;
    height: 150px;
    background: no-repeat center center;
    background-size: contain;
  }

  h3 {
    height: 52px;
    overflow: hidden;
  }
}

.products-pagination .pagination {
  margin-top: 0;
}